<h1>WELCOME!</h1>

<% if current_user %>
    <%= link_to "Log out", '/logout', method: :delete %>
<% else %>
    <%= link_to "Register as a User", "/register" %>
    <%= link_to "I already have an account", "/login" %>
<% end %>